/* ------------------------------------ barra de título ---------------------------------------- */
header{
    width: 100%;
    height: 69px;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}

/* ---------------------------------------- Conteúdo da página ----------------------------------- */


/* ------------Seção de criação de Quiz-----------*/

.primeiro-container {
    width: 1051px;
    height: 181px;
    background-color: #FAFAFA;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    margin: 77px auto;
}

.nao-criou-quizz {
    width: 250px;
    height: 107px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
    margin-left: 401px;
}

.nao-criou-quizz p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #B9B9B9;
    text-align: center;
}

.botao-criar-quizz {
    width: 151px;
    height: 40px;
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 451px;
}

.botao-criar-quizz div {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;
}


/* ------------Seção todos os quizzes-----------*/

.segundo-container {
    margin-bottom: 211px;
}

.container-quizzes {
    width: 1100px;
    height: 390px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: scroll;
}

.container-quizzes::-webkit-scrollbar {
    display: none;
}

.quizz{
    width:340px;
    height: 181px;
    margin-right: 15px;
    margin-top: 12px;
    position: relative;
}

.quizz img {
    width:340px;
    height: 181px;
    border-radius: 5px;
}

.gradiente{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(0deg, rgba(20,15,3,1) 0%, rgba(255,255,255,0.03125) 100%);
    position: absolute;
    top: 0px;
    left: 0px;
}

.quizz p{
    width: 301px;
    height: 54px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    position: absolute;
    bottom: 1px;
    left: 15px;
}

.titulo-segundo-container{
    width: 1100px;
    height: 23px;
    margin: 0px auto;
    margin-top: 77px;
}

.titulo-segundo-container p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}