body {
    background-color: #FAFAFA;
}

.esconder{
    display: none;
}

/* ------------------------------------ barra de título ---------------------------------------- */
header{
    width: 100%;
    height: 69px;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0px;
    left: 0px;
    z-index: 2;
}

header h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}

/* ---------------------------------------- Conteúdo da página ----------------------------------- */
/* ---------------------------------------- Tela 1 ----------------------------------- */

/* ------------Seção de criação de Quiz-----------*/

.primeiro-container {
    width: 1065px;
    height: 181px;
    background-color: #FAFAFA;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    margin: 146px auto;
}

.nao-criou-quizz {
    width: 250px;
    height: 107px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
    margin-left: 401px;
}

.nao-criou-quizz p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #B9B9B9;
    text-align: center;
}

.botao-criar-quizz {
    width: 151px;
    height: 40px;
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 451px;
}

.botao-criar-quizz div {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;
}


/* ------------Seção todos os quizzes-----------*/

.segundo-container {
    margin-bottom: 211px;
}

.container-quizzes {
    width: 1065px;
    height: 390px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: scroll;
}

.container-quizzes::-webkit-scrollbar {
    display: none;
}

.quizz{
    width:340px;
    height: 181px;
    margin-right: 15px;
    margin-top: 12px;
    position: relative;
}

.quizz img {
    width:340px;
    height: 181px;
    border-radius: 5px;
}

.gradiente{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    position: absolute;
    top: 0px;
    left: 0px;
}

.quizz p{
    width: 301px;
    height: 54px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    position: absolute;
    bottom: 1px;
    left: 15px;
}

.titulo-segundo-container{
    width: 1065px;
    height: 23px;
    margin: 0px auto;
    margin-top: 77px;
}

.titulo-segundo-container p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}



/* ---------------------------------------- Conteúdo da página ----------------------------------- */
/* ---------------------------------------- Tela 2 ----------------------------------- */
.tela2{
    font-family: 'Roboto';
}

.pergunta{
    width: 759px;
    padding: 30px;
    margin: 20px auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.titulo-tela2{
    height: 227px;
    margin: 69px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.titulo-tela2 h2{
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    color: #FFFFFF;
    position: absolute;
    top: center;
    left: center;
}
.titulo-tela2 img{
    width: 100%;
}

.fundo{
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57));
    position: absolute;
    top:0px;
    left: 0px;
}

.titulo-pergunta{
    height: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-pergunta h3{
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
}

.respostas{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 0;
}

.resposta img{
    width: 330px;
    height: 175px;
    margin:8px 0px;
}

.resposta h4{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

/* ---------------------------------------- Conteúdo da página ----------------------------------- */
/* ---------------------------------------- Tela 3.1 ----------------------------------- */

.tela3 {
    background-color: #FAFAFA;
}

.tela3 h2 {
    width: 600px;
    height: 27px;
    margin: 0px auto;
    margin-top: 71px;
    margin-bottom: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
}

.infos-criacao-quizz {
    width: 600px;
    height: 256px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}

.infos-criacao-quizz div {
    width: 564px;
    height: 46px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 9px;
}

.infos-criacao-quizz input {
    width: 517.68px;
    height: 22px;
    border: 0px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
}

.infos-criacao-quizz input::placeholder{
    color: #BABABA;
}

.infos-criacao-quizz div:first-child{
    margin-top: 21px;
}

.botao-prosseguir {
    width: 368.86px;
    height: 54px;
    background-color: #EC362D;
    border-radius: 15px;
    margin: 85px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-prosseguir button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFF5F4;
    border: 0px;
    background-color: #EC362D;
}
